

<section class="w-screen h-full bg-purple-200 pt-96">
<h1 class="text-4xl font-extrabold leading-tight tracking-tight text-center text-gray-900 md:text-6xl dark:text-white">
  Edit User Profile
</h1>
<div class="px-4 mb-4 sm:h-full md:px-0 md:mb-0 md:w-8/12 md:mx-auto">
<div class="p-4 md:space-y-4 sm:space-y-6">

    <div class="flex flex-wrap">
      <label for="name" class="w-full mb-2 text-xl font-extrabold text-gray-700" >Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="userDetails.name" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="email" class="w-full mb-2 text-xl font-extrabold text-gray-700">Email Address</label>
      <input type="email" id="email" name="email" [(ngModel)]="userDetails.email" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>

    <div class="flex flex-wrap">
      <label for="branch" class="w-full mb-2 text-xl font-extrabold text-gray-700">Branch</label>
      <input type="text" id="branch" name="branch" [(ngModel)]="userDetails.branch" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="year" class="w-full mb-2 text-xl font-extrabold text-gray-700">Year</label>
      <input type="text" id="year" name="year" [(ngModel)]="userDetails.year" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="skills" class="w-full mb-2 text-xl font-extrabold text-gray-700">{{labelText}}</label>
      <input type="text" id="skills" name="skills" [(ngModel)]="userDetails.skills" placeholder="Enter Space Seperated Value"  (input)="changeLabel()" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>




    <div class="flex flex-wrap">
      <label for="about" class="w-full mb-2 text-xl font-extrabold text-gray-700">About</label>
      <textarea id="about" name="about" rows="4" [(ngModel)]="userDetails.about" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50"></textarea>
    </div>

    <div class="flex flex-wrap">
      <label for="about" class="w-full mb-2 text-xl font-extrabold text-gray-700">Tag</label>
      <textarea id="about" name="about" rows="4" [(ngModel)]="userDetails.headtag" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50"></textarea>
    </div>
    <div class="flex flex-wrap">
      <label for="links" class="w-full mb-2 text-xl font-extrabold text-gray-700">Github Url</label>
      <input type="url" id="links" name="links" [(ngModel)]="userDetails.github_link" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="links" class="w-full mb-2 text-xl font-extrabold text-gray-700">LinkedIn Url</label>
      <input type="url" id="links" name="links" [(ngModel)]="userDetails.linkedin_link" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="links" class="w-full mb-2 text-xl font-extrabold text-gray-700">Other Url</label>
      <input type="url" id="links" name="links" [(ngModel)]="userDetails.other_link" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex flex-wrap">
      <label for="profile_picture" class="w-full mb-2 text-xl font-extrabold text-gray-700">Profile Picture</label>
      <img alt="Profile Picture" class="w-20 h-20 rounded-full" [src]="userDetails.profile_picture">
      <input type="file"  (change)="onFileSelected($event)" accept="image/*" id="profile_picture" name="profileImage"   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <button type="button" (click)="update()" class="w-full px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-blue-500">Save Changes</button>
    <button type="button" (click)="cancel()" class="w-full px-4 py-2 mt-16 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-blue-500" >Cancel</button>

</div>
</div>
</section>
