

<section class="mt-20 bg-purple-200 max-h-fit">
  <h1 class="text-4xl font-extrabold leading-tight tracking-tight text-center text-gray-900 md:text-6xl dark:text-white">
    Create a Contest
</h1>
<div class="sm:h-full px-4 md:px-0 mb-4 md:mb-0 md:w-8/12 md:mx-auto">


      <div class="md:flex md:justify-center md:mb-12">
        <img
            src="https://static.contrado.com/resources/images/2017-7/64290/contests-coming-soon-146799.png"
            class="object-contain w-full md:w-96"
            alt="Sample image" />
        </div>
          <form [formGroup]="contestForm" (ngSubmit)="onSubmit()">
            <div class="p-4 md:space-y-4 lg:space-y-6">

            <!-- Contest Name input -->
            <div class="mb-4">
              <label for="contestname" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Contest Name:</label>
              <input formControlName="contestname" type="text" id="contestname"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Contest Name" required>
              <div *ngIf="contestForm.controls['contestname'].invalid && (contestForm.controls['contestname'].dirty || contestForm.controls['contestname'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contestname'].errors && contestForm.controls['contestname'].errors['required']">
                Contest Name is required.
                </div>
              </div>
            </div>
            <!-- Contest Club Host-->
            <div class="mb-4">
              <label for="clubevent" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Enter the Hosting Club:</label>
              <input formControlName="clubevent" type="text" id="clubevent"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Club Name" required>
              <div *ngIf="contestForm.controls['clubevent'].invalid && (contestForm.controls['clubevent'].dirty || contestForm.controls['clubevent'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['clubevent'].errors && contestForm.controls['clubevent'].errors['required']">
                  Club Host is required.
                </div>
              </div>
            </div>

             <!-- Event Type  -->

             <div class="mb-4">
              <label for="contesttype" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Contest Type:</label>
              <select formControlName="contesttype" id="type" name="type" class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" required>
                <option value="default" disabled selected>Select Role</option>
                <option value="co-curricular">Co Curricular</option>
                <option value="extra-curricular">Extra Curricular</option>
              </select>
              <div *ngIf="contestForm.controls['contesttype'].invalid && (contestForm.controls['contesttype'].dirty || contestForm.controls['contesttype'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contesttype'].errors && contestForm.controls['contesttype'].errors['required']">
                  Venue is required.
                </div>
              </div>
            </div>

            <!-- Contest Student Host input -->
            <div class="mb-4">
              <label for="studentevent" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Enter the name of Student Hosting:</label>
              <input formControlName="studentevent" type="text" id="studentevent"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Student Name" required>
              <div *ngIf="contestForm.controls['studentevent'].invalid && (contestForm.controls['studentevent'].dirty || contestForm.controls['studentevent'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['studentevent'].errors && contestForm.controls['studentevent'].errors['required']">
                  Student Host is required.
                </div>
              </div>
            </div>
            <!-- Contest Venue input -->
            <div class="mb-4">
              <label for="contestvenue" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Contest Venue:</label>
              <input formControlName="contestvenue" type="text" id="contestvenue"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Contest" required>
              <div *ngIf="contestForm.controls['contestvenue'].invalid && (contestForm.controls['contestvenue'].dirty || contestForm.controls['contestvenue'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contestvenue'].errors && contestForm.controls['contestvenue'].errors['required']">
                  Contest Venue is required.
                </div>
              </div>
            </div>
            <!-- Contest Date input -->
            <div class="mb-4">
              <label for="contestdate" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Contest Date:</label>
              <input formControlName="contestdate" type="date" id="contestdate"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" required>
              <div *ngIf="contestForm.controls['contestdate'].invalid && (contestForm.controls['contestdate'].dirty || contestForm.controls['contestdate'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contestdate'].errors && contestForm.controls['contestdate'].errors['required']">
                  Contest Date is required.
                </div>
              </div>
            </div>
            <!-- Contest Time input -->
            <div class="mb-4">
              <label for="contesttime" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Contest timing:</label>
              <input formControlName="contesttime" type="time" id="contesttime"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline"  required>
              <div *ngIf="contestForm.controls['contesttime'].invalid && (contestForm.controls['contesttime'].dirty || contestForm.controls['contesttime'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contesttime'].errors && contestForm.controls['contesttime'].errors['required']">
                  Contest Time is required.
                </div>
              </div>
            </div>
            <!-- Contest Short Descripition-->
            <div class="mb-4">
              <label for="contestshortdescription" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Short Descripition:</label>
              <!--<input formControlName="shortdescripition" type="textbox" id="shortdescripition"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Email ID" required>-->
              <textarea formControlName="contestshortdescription" maxlength="100" rows="4" cols="64" name="contestshortdescription" required placeholder="Enter text here.." class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" ></textarea>
              <div *ngIf="contestForm.controls['contestshortdescription'].invalid && (contestForm.controls['contestshortdescription'].dirty || contestForm.controls['contestshortdescription'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contestshortdescription'].errors && contestForm.controls['contestshortdescription'].errors['required']">
                  Short Descripition is required.
                </div>
              </div>
            </div>
            <!-- Contest Descripition-->
            <div class="mb-4">
              <label for="contestdescripition" class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Descripition:</label>
              <!--<input formControlName="descripition" type="textbox" id="shortdescripition"  class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter Email ID" required>-->
              <textarea formControlName="contestdescripition" maxlength="1000" rows="8" cols="64" name="contestdescripition" required placeholder="Enter text here.." class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" ></textarea>
              <div *ngIf="contestForm.controls['contestdescripition'].invalid && (contestForm.controls['contestdescripition'].dirty || contestForm.controls['contestdescripition'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['contestdescripition'].errors && contestForm.controls['contestdescripition'].errors['required']">
                   Descripition is required.
                </div>
              </div>
            </div>
            <!-- Image input -->
            <div class="mb-4">
              <label class="block mb-2 font-extrabold text-gray-700 exampleFormControlInput22">Event Notice:</label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" formControlName="img" name="img" accept="image/*"  class="block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                     >
                     <img id="previewImage" *ngIf="contestForm.value.img && !isLoading" [src]="contestForm.value.img" alt="Preview Image">
                     <div class="loading-bar" *ngIf="isLoading">Loading...</div>
                     <div *ngIf="contestForm.controls['img'].invalid && (contestForm.controls['img'].dirty || contestForm.controls['img'].touched)" class="mt-1 text-red-500">
                <div *ngIf="contestForm.controls['img'].errors && contestForm.controls['img'].errors['required']">
                  Image is required.
                </div>
              </div>
            </div>



            <!-- Login button -->
             <!-- Login button -->
             <div class="text-center lg:text-left">
              <button type="submit"
                      [disabled]="contestForm.invalid"
                      class="inline-block w-full pt-3 pb-2 text-sm font-medium leading-normal text-white uppercase transition duration-150 ease-in-out bg-purple-400 rounded bg-primary px-7 shadow-primary-3 hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                Create
              </button>
            </div>
            </div>
          </form>
        </div>



  </section>
