<!-- organizers.component.html -->

<div  class="items-center card sm:m-12">
  <h1 class="mt-8 mb-4 ml-24 text-4xl font-bold bg-orange-200 rounded-md sm:mt-10 sm:ml-10 sm:mb-10 w-fit">{{ role }}</h1>
  <div class="grid items-center grid-cols-2 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div *ngFor="let organizer of organizers" class="mb-8">
      <div class="w-24 h-24 mx-auto mb-4 overflow-hidden rounded-full md:mb-2 md:ml-20 sm:w-48 sm:h-48">
        <img [src]="organizer?.organizer_id?.profileImage ?? '/assets/assets/profileImage.jpeg'" alt="{{ 'UserImage' }}" class="object-cover w-3/3 h-3/3">
      </div>
      <div class="text-center">
        <h1 class="pb-3 font-mono text-2xl font-bold">{{ organizer?.organizer_id?.name ?? 'Name' }}</h1>
        <p class="text-sm text-gray-500">{{ 'Coordinator' }}</p>
        <p class="text-sm text-gray-500">{{ organizer?.organizer_id?.branch  ??  'Branch'}}</p>
        <p class="text-sm text-gray-500">{{ organizer?.organizer_id?.year ?? 'year' }}</p>
      </div>
    </div>
  </div>
</div>
