
<div class="max-w-md p-4 mx-auto mt-4 border bg-color4 rounded-md shadow-md">
  <h2 class="mb-2 text-lg text-color1 font-bold">Club Details</h2>
  <div>
    <label for="clubName" class="block mb-1 text-color1">Name:</label>
    <input type="text" id="clubName" class="px-2 py-1 mb-2 border rounded-md" [(ngModel)]="clubData.club_name">
  </div>
  <div>
    <label for="clubType" class="block mb-1 text-color1">Type:</label>
    <select id="clubType" class="px-2 py-1 mb-2 border rounded-md" [(ngModel)]="clubData.club_type">
      <option value="co-curricular">Co-curricular</option>
      <option value="extra-curricular">Extra-curricular</option>
    </select>
  </div>
  <button class="px-4 py-2 text-white bg-color2 rounded-md hover:bg-blue-600" (click)="logDetails()">Submit</button>
</div>
