
<div class="mt-6 bg-purple-200 rounded-lg sm:ml-6 sm:mt-10 sm:mr-6 sm:mb-20">
  <div class="flex flex-wrap mt-6 mb-5 bg-orange-300 rounded-lg w-fit sm:ml-0 sm:mr-6"><h2 class="mb-4 text-4xl font-bold sm:m-6">{{eventType}}</h2></div>
  <div class="flex flex-wrap bg-purple-200 sm:ml-6 sm:mr-6">

    <div class="mb-10 max-w-44 sm:max-w-fit sm:max-h-fit" *ngFor="let ev of events">
      <app-event-card [event]="ev" ></app-event-card>

    </div>
  </div>

</div>
<!--       <marquee scrollAmount="3" direction="right" loop="1"behavior="slide">
        <app-event-card [event]="ev" ></app-event-card>
      </marquee> -->
