<div class="w-64 p-2 mb-6 ml-2 transition-transform transform bg-white rounded-md shadow-md sm:h-80 sm:m-5 sm:p-4 hover:scale-105 hover:bg-yellow-200"  (click)="navigateToOtherComponent()">
  <img [src]="event.img" alt="Event Photo" class="object-cover mb-4 rounded-md sm:h-32">
  <p class="mb-2 text-sm font-bold sm:text-xl">{{ event.eventname }}</p>
  <p class="mb-2 text-gray-500"><strong>Time:</strong> {{ event.eventtime }}</p>
  <p class="text-gray-500"><strong>Venue:</strong> {{ event.eventvenue }}</p>
</div>


