<!-- forgot-password.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-200">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-md">
    <h2 class="mb-6 text-2xl font-semibold">Forgot Password</h2>

    <p class="mb-4 text-gray-600">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <form [formGroup]="forgotForm">

      <div class="mb-4">
        <label for="Email" class="block mb-2 text-sm font-bold text-gray-700">Email:</label>
        <input formControlName="email" type="email" id="email" name="email" class="w-full px-3 py-2 border rounded focus:outline-none focus:shadow-outline" placeholder="Enter your Email" required>
      </div>

      <div class="mb-6">
        <button type="button" (click)="OnSubmit()" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline">Reset Password</button>
      </div>
    </form>

    <p class="text-sm text-gray-600">
      Remember your password? <a href="#" class="text-blue-500">Login here</a>.
    </p>
  </div>
</div>
