<!-- src/app/about/about.component.html -->
<section id="contact-section" class="flex items-center justify-center pt-16 ">
  <div class="mx-auto leading-9 ">
    <h1 class="mb-8 text-3xl text-color1 font-semibold">Contact Us</h1>
    <hr class="mb-8 border-gray-800 dark:border-gray-900" />
    <div class="flex  padding-left: 1.25rem padding-right: 1.25rem">
      <p class="flex-auto text-color1 sm:text-xl">
        <span class="font-bold">Address:</span>
        Mepco Schlenk Engineering College Campus, Mepco Schlenk Engineering College Post, Sivakasi – 626005, Virudhunagar District, Tamilnadu, India.<br><br>
        <span class="font-bold">Phone:</span> +91-4562-235000 (30 Lines)<br><br>
        <span class="font-bold">Email:</span> msecmepcoeng.ac.in  <!-- Need to find @ - code -->
      </p>
      <div class="flex-auto ">
        <iframe class="mx-auto transition-transform transform rounded-lg shadow-2xl hover:shadow-2xl hover:scale-105"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.8092913426376!2d77.85086187516288!3d9.525292190557211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06d3287794055d%3A0x9c7b889bf154fb86!2sMepco%20Schlenk%20Engineering%20College!5e0!3m2!1sen!2sin!4v1711640112272!5m2!1sen!2sin"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <!-- Add more content as needed -->
  </div>
</section>

