<!-- src/app/about/about.component.html -->
<section id="contact-section" class="flex items-center justify-center pt-16 ">
  <div class="mx-auto leading-9 ">
    <h1 class="mb-8 text-3xl font-semibold">Contact Us</h1>
    <hr class="mb-8 border-gray-800 dark:border-gray-900" />
    <div class="flex  padding-left: 1.25rem padding-right: 1.25rem">
      <p class="flex-auto text-gray-600 ">
        Address:
        Mepco Schlenk Engineering College Campus, Mepco Schlenk Engineering College Post, Sivakasi – 626005, Virudhunagar District, Tamilnadu, India.

        Phone: +91-4562-235000 (30 Lines)

        Email: msecmepcoeng.ac.in  <!-- Need to find @ - code -->
      </p>
      <div class="flex-auto ">
        <!-- Map image in column 2 -->

      </div>
    </div>

    <!-- Add more content as needed -->
  </div>
</section>

