<section class="max-h-fit ml-56 mr-52 mt-20 bg-purple-300 ">
  <div class="container mx-auto px-4 py-8"> 
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col mb-4 animate-fadeInRight">
          <!--<h1 class="font-extrabold text-5xl" >{{events.eventname}} </h1>-->
          <h1 class="font-extrabold mb-4 text-5xl" >Event Name</h1>
        </div>
        <div class="flex flex-col mb-4 ">
          <img class="w-full object-cover " href="" alt="Event Image">
        </div>

        <div class="flex flex-col mb-4 animate-pulse">
          <p class=" text-xl font-semibold ">This event helps to enrichyour skills</p>
        </div>
      </div>
  </div>
</section>  