<section class="px-4 py-8 bg-blue-100 sm:px-20 sm:py-4">
  <app-banner></app-banner>
  <app-event-list [eventType]="eventType1" [events]="coCurricularEvents"></app-event-list>
  <app-event-list [eventType]="eventType2" [events]="extraCurricularEvents"></app-event-list>



  <div class="flex flex-col sm:flex-row">
    <div class="flex-auto max-w-sm p-6 pt-10 mt-10 bg-white border border-gray-200 rounded-lg shadow hover:scale-105 sm:m-6 sm:mt-28 sm:ml-60 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Explore More</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Join the Cocurricular club and participate in various activities.</p>
      <a href="/clublist">
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Join Co-Curricular Club
          </span>
        </button>
      </a>
    </div>

    <div class="flex-auto max-w-sm p-6 pt-10 mt-10 bg-white border border-gray-200 rounded-lg shadow hover:scale-105 sm:m-6 sm:mt-28 sm:ml-10 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Explore More</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Join the Cocurricular club and participate in various activities.</p>
      <a href="/clublist">
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Join Co-Curricular Club
          </span>
        </button>
      </a>
    </div>
  </div>


  <app-contest></app-contest>
  <app-about></app-about>
</section>

