<div *ngIf="Show_Organizer " class="relative max-w-md px-8 py-4 mb-10 bg-white border-blue-500 rounded-lg shadow-sm hover:shadow-black border-y border-s border-e">
  <!-- Office Barrier Heading -->
  <div  class="absolute top-0 left-0 mt-2 ml-2">
    <p class="text-lg font-semibold text-gray-800">office Barrier</p>
  </div>

  <!-- Club Logos -->
  <div class="flex flex-wrap gap-2 pt-24 -mt-16 sm:pt-10 sm:mt-0"> <!-- TODO Modity the clubs according to Student data later-->
    <!-- Club 1 -->
    <div *ngFor="let club of organizer_Clubs"  class="flex flex-col items-center">
      <img (click)="navigateToOtherComponent(club.club_name)"  class="object-cover w-16 h-16 border-2 border-indigo-500 rounded-full sm:w-20 sm:h-20" [src]="club.logo">
      <p class="mt-2 text-sm text-gray-800">Club 1</p>
    </div>

  </div>
</div>

<div class="relative max-w-md px-8 py-4 mb-10 bg-white rounded-lg shadow-sm hover:shadow-black">
  <!-- Office Barrier Heading -->
  <div class="absolute top-0 left-0 mt-2 ml-2">
    <p class="text-lg font-semibold text-gray-800">Member</p>
  </div>

  <!-- Club Logos -->
  <div  class="flex flex-wrap gap-2 pt-24 -mt-16 sm:pt-10 sm:mt-0"> <!-- TODO Modity the clubs according to Student data later-->
    <!-- Club 1 -->
    <div *ngFor="let club of member_Clubs"  class="flex flex-col items-center px-5">
      <img (click)="navigateToOtherComponent(club.club_name)"  class="object-cover w-16 h-16 border-2 border-indigo-500 rounded-full sm:w-20 sm:h-20" [src]="club.logo">
      <p class="w-20 mt-2 text-sm text-gray-800">{{club.club_name}}</p>
    </div>
  </div>
</div>
